<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

Download the webpage at the url

In [3]:
#your code goes here
data = requests.get(url).text

Create a soup object

In [4]:
#your code goes here
soup = bs(data, 'html')

Scrape the `Language name` and `annual average salary`.

In [4]:
#your code goes here
#find a html table in the web page
table = soup.find("table")
popular_language =[]

# table row is represented by the tag <tr> in html
for row in table.find_all('tr'):
    # Get all columns in each row
    cols= row.find_all('td')  # columns are represented by the tag <td> in html
    language= cols[1].getText()
    salary = cols[3].getText()
    print(f"{language}, {salary}")
    popular_lan=[language, salary]
    popular_language.append(popular_lan)

print(popular_language)

NameError: name 'soup' is not defined

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
# your code goes here
df = pd.DataFrame(popular_language)
df = df[1:] # remove the first row
df.columns = ['Language', 'Average Salary']
df['Average Salary'] = pd.to_numeric(df['Average Salary'].str.replace(',', '').str.replace('$', ''))
df

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

      Language  Average Salary
1       Python          114383
2         Java          101013
3            R           92037
4   Javascript          110981
5        Swift          130801
6          C++          113865
7           C#           88726
8          PHP           84727
9          SQL           84793
10          Go           94082

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).